<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/styles.css' />
  </head>
  <body>
    <container class="flex">
      <div class="big flex">
        <div>
          <h1 class="color-prime"><%= title %></h1>
          <p>Welcome to <%= title %></p>
          <p class="color-error">and here is a nice error color</p>        
        </div>
      </div>
    </container>
  </body>
</html>
